<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @activity.task %>
</p>

<p>
  <strong>Avg Time:</strong>
  <%= @activity.ittake.min %> minutes
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
